version: '3.8'
services:
  app:
    image: your-docker-image
    volumes:
      - .:/app
    ports:
      - '3000:3000'
    environment:
      - NODE_ENV=development
      - SAME_ENV_VARIABLES_AS_PRODUCTION
